$main-color: #81C784;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #181818;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.p-menubar{
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
}

.app-body{
  z-index: 0;
}

.p-menu{
  z-index: 7 !important;
}

.p-toolbar{
  border-radius: 0;
  top: 3.9em;
  position: fixed;
  width: 100%;
  display: block;
  overflow: visible;
}


@media screen and (max-width: 960px){
 .p-menubar .p-menubar-button {
 position: absolute;
   right:15px;
 }
}

.sidebar-contained{
  position: absolute; 
  margin-left: 12.5em;
}

@media (max-width: 640px){
.sidebar-nullified{
  margin-left: 0;
}
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes p-progress-spinner-color {
  100%,
  0% ,
  40% ,
  66% ,
  80%,
  90% {
    stroke: $main-color;
  }
}

.p-menu.p-menu-overlay{
  top: 40px;
  position: absolute;
}

.clip-box{
  width: 20rem;
  height: 18rem;
  
  .clip-thumbnail{
    width: 100%;
  }
  
  a{
    font-size: 1.15rem;
    line-height: 1.2rem;
    max-height: 4rem;
    text-decoration: none;
    color: #fff;
  }
}

.video-thumbnail{
  position: relative;
 .clip-thumbnail{
   display: block;
   width: 100%;
   height: auto;
 }
  
  .overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .play-button{
    width: 50px;
  }
  
}

.video-thumbnail:hover{
  .overlay{
  opacity: 1;
  }
  .clip-thumbnail{
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
}

.clip-content{
  margin-top: 0.5em;
}

.clip-duration{
  position: absolute;
  top: 0;
  left: 0;
  background: #181818;
  font-size: 0.6em;
  padding: 0.1em;
}

