$main-color: #81C784;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #181818;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

.p-menubar{
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
}

.app-body{
  z-index: 0;
  width: 100%;
}

.p-menu{
  z-index: 51 !important;
}

.p-toolbar{
  border-radius: 0;
  top: 3.9em;
  position: fixed;
  width: 100%;
  display: block;
  overflow: visible;
  z-index: 50;
}


@media screen and (max-width: 960px){
 .p-menubar .p-menubar-button {
 position: absolute;
   right:15px;
 }
}

.sidebar-contained{
  position: absolute; 
  margin-left: 12.5em;
}

@media (max-width: 640px){
.sidebar-nullified{
  margin-left: 0;
}
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes p-progress-spinner-color {
  100%,
  0% ,
  40% ,
  66% ,
  80%,
  90% {
    stroke: $main-color;
  }
}

.p-menu.p-menu-overlay{
  top: 40px;
  position: absolute;
}

.clip-box{
  width: 20rem;
  height: 18rem;
  
  .clip-thumbnail{
    width: 100%;
  }
  
  a{
    font-size: 1.15rem;
    line-height: 1.2rem;
    max-height: 4rem;
    text-decoration: none;
    color: #fff;
  }
}

.video-thumbnail{
  position: relative;
 .clip-thumbnail{
   display: block;
   width: 100%;
   height: auto;
 }
  
  .overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
  
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .play-button{
    width: 50px;
  }
  
}

.video-thumbnail:hover{
  .overlay{
  opacity: 1;
  }
  .clip-thumbnail{
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
}

.clip-content{
  margin-top: 0.5em;
}

.clip-duration{
  position: absolute;
  top: 0;
  left: 0;
  background: #181818;
  font-size: 0.6em;
  padding: 0.1em;
}

.main-sidebar{ 
  margin-top: 8.5em;
  border-radius: 0;
  height: 81vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;

  &::-webkit-scrollbar {
    width: 9px;
    display: none
  }
  &::-webkit-scrollbar-track {
    background: #181818;        
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4A4A4A;    
    border-radius: 20px;       
    border: 3px solid #181818; 
  }
  &:hover{
    &::-webkit-scrollbar {
      display: block
    }
  }
}

.sidebar-way{
  margin-left: 15em;
}

.main-container{
 margin: 10em 1em 0 14em;
}


.normal-container{
  margin: 10em 4em 0 4em;
}

.clip-detail{
  width: 80%;
}

.avatar-clip{
  width: 150px;
  img{
    width: 50px;
  }
}

.divider{
  border-color: #4A4A4A;
}

.clip-player{
  width: 100%;
}

@media(max-width: 640px) {
  .clip-detail{
    width: 100%;
  }
}

@media(max-width: 640px) {
  .sidebar-void {
    margin: 10em 1.5em 0 1.5em;
  }
  .normal-container{
    margin: 10em 0.2em 0 0.2em;
  }
}

.clip-player-controls{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

.clip-video-container{
  position: relative;
}

.p-button.p-button-text{
  color: #777;
  transform: scale(0.9);
  &:hover {
  color: $main-color;
    transform: scale(1);
}
}

.clip-player-trigger-bottom{
  color: #999;
  &:hover{
    color: #fff;
  }
}

.slider-volume > .p-slider .p-slider-handle{
  border: 2px solid #fff;
  &:hover{
    border: 2px solid #fff;
    background: #fff;
  }
}

.slider-volume .p-slider .p-slider-range{
  background: #fff;
}

@media(max-width: 640px){
.hide-sm{
  display: none;
}
  .text-sm{
    font-size: 0.7em;
  }
}

@media(min-width: 641px){
  .hide-bg{
    display: none;
  }
}